.row-animate {
  opacity: 0;
  animation: row-reveal 800ms;
  animation-fill-mode: forwards;
}

.row-animate:nth-child(1){
  animation-delay: 0ms;
}

.row-animate:nth-child(2){
  animation-delay: 50ms;
}

.row-animate:nth-child(3){
  animation-delay: 100ms;
}

.row-animate:nth-child(4){
  animation-delay: 150ms;
}

.row-animate:nth-child(5){
  animation-delay: 200ms;
}

.row-animate:nth-child(6){
  animation-delay: 250ms;
}

.row-animate:nth-child(7){
  animation-delay: 300ms;
}

.row-animate:nth-child(8){
  animation-delay: 350ms;
}

.row-animate:nth-child(9){
  animation-delay: 400ms;
}

@keyframes row-reveal {
  0%, 40% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
  }
}
